/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #005eb8;
  --ifm-color-primary-dark: #0055a6;
  --ifm-color-primary-darker: #00509c;
  --ifm-color-primary-darkest: #004281;
  --ifm-color-primary-light: #0067ca;
  --ifm-color-primary-lighter: #006cd4;
  --ifm-color-primary-lightest: #007aef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #17dffb;
  --ifm-color-primary-dark: #04d5f2;
  --ifm-color-primary-darker: #04c9e5;
  --ifm-color-primary-darkest: #03a6bd;
  --ifm-color-primary-light: #32e3fb;
  --ifm-color-primary-lighter: #3fe5fc;
  --ifm-color-primary-lightest: #68eafc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
