name: EvalSense
on: [push, pull_request]

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: 0.6.14
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
      - name: Install project
        run: uv sync --all-extras --dev
      - run: echo "$PWD/.venv/bin" >> $GITHUB_PATH
      - name: Typecheck project
        uses: jakebailey/pyright-action@v2
        with:
          version: 1.1.399

  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: evalsense
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: 0.11.4
